# Dependencies
node_modules
.pnpm-store

# Production build output
dist
dist-ssr
*.local

# Temporary download files
stitch_downloads
*.pyc
__pycache__

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode
.idea
